body {
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
  }
  .button {
    padding: 12px 35px;
    background-color: aquamarine;
    font-size: 20px;
    color: rgb(3, 109, 74);
    display: inline-block;
    border: 2px solid rgb(3, 109, 74);
    border-radius: 10px;
  }
  .button:hover {
    background-color: rgb(3, 109, 74);
    color: #ffffff;
    transition: ease-in-out 0.3s;
  }
  .center {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .border {
    border-radius: 10px;
    border: 2px solid #000000;
  }
  table {
    border-collapse: collapse;
  }
  table td,
  table th {
      border-bottom: 2px solid rgb(3, 109, 74);
    padding: 10px;
  }
  table th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: center;
    background-color: aquamarine;
    color: rgb(3, 109, 74);
  }